<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>ServiceCallMapper</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<listener>
		<listener-class>com.bottinifuel.EnergyContext</listener-class>
	</listener><servlet>
		<description></description>
		<display-name>FutureCallsMapper</display-name>
		<servlet-name>FutureCallsMapper</servlet-name>
		<servlet-class>com.bottinifuel.FutureCallsMapper</servlet-class>
		<init-param>
			<param-name>energy_password</param-name>
			<param-value>b0tt1n1</param-value>
		</init-param>
		<init-param>
			<param-name>energy_port</param-name>
			<param-value>5000</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>FutureCallsMapper</servlet-name>
		<url-pattern>/FutureCallsMapper</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Caching FutureCallsMapper</description>
		<display-name>FutureCallsMapper2</display-name>
		<servlet-name>FutureCallsMapper2</servlet-name>
		<servlet-class>com.bottinifuel.FutureCallsMapper2</servlet-class>
	</servlet><servlet-mapping>
		<servlet-name>FutureCallsMapper2</servlet-name>
		<url-pattern>/FutureCallsMapper2</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>yahoo_app_id</param-name>
		<param-value>EdHrMjfV34GNdbqTq7Fk1YlYDq2FeH0G4u1eD5_wn2vswML.rirHZeVzZAndp_HLwf0A</param-value>
	</context-param>
	<context-param>
		<param-name>geocode_cache_file</param-name>
		<param-value>geocode_cache.jso</param-value>
	</context-param>
	<context-param>
		<param-name>energy_server</param-name>
		<param-value>10.10.10.2</param-value>
	</context-param>
	<context-param>
		<param-name>energy_port</param-name>
		<param-value>5000</param-value>
	</context-param>
	<context-param>
		<param-name>energy_db</param-name>
		<param-value>AR1</param-value>
	</context-param>
	<context-param>
		<param-name>energy_user</param-name>
		<param-value>botar1</param-value>
	</context-param>
	<context-param>
		<param-name>energy_password</param-name>
		<param-value>b0tt1n1</param-value>
	</context-param>
	<context-param>
		<param-name>estimate_reasons</param-name>
		<param-value>83,222</param-value>
	</context-param>
	<context-param>
		<param-name>cleaning_reasons</param-name>
		<param-value>91,92,126</param-value>
	</context-param>
	<context-param>
		<param-name>install_reasons</param-name>
		<param-value>36,71-75,223-224</param-value>
	</context-param>
	<context-param>
		<param-name>propane_reasons</param-name>
		<param-value>215-222,225-256</param-value>
	</context-param>		
</web-app>